!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Middleman"
    = stylesheet_link_tag "site"
  %body

    = partial "partials/header.html.haml"

    = yield

    = partial "partials/footer.html.haml"

    %script{:type => "text/javascript", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"}
    %script{:type => "text/javascript", :src => "https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"}
    = javascript_include_tag "site"
